:root {
  --td-hover: #c2351645;
  --btn-default: #16697a;
  --btn-default-hover: #1a7a8e;
  --btn-add: #478e41;
  --btn-remove: #c70039;
  --btn-add-hover: #59b151;
  --btn-remove-hover: #cd315d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #262d37;
  color: white;
}
#toolbar {
  background-color: #222831;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  height: 5vh;
  padding-top: 4px;
  padding-bottom: 4px;
}

.col {
  height: 100%;
}

button {
  height: 100%;
  background-color: var(--btn-default);
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0 10px;
}

button:hover {
  background-color: var(--btn-default-hover);
  transition: all 0.2s;
}

button:active {
  background-color: var(--btn-default);
}

#remove-col-btn,
#remove-row-btn {
  background-color: var(--btn-remove);
}

#remove-col-btn:hover,
#remove-row-btn:hover {
  background-color: var(--btn-remove-hover);
}
#remove-col-btn:active,
#remove-row-btn:active {
  background-color: var(--btn-remove);
}

#add-col-btn,
#add-row-btn {
  background-color: var(--btn-add);
}

#add-col-btn:hover,
#add-row-btn:hover {
  background-color: var(--btn-add-hover);
}
#add-col-btn:active,
#add-row-btn:active {
  background-color: var(--btn-add);
}

#clearall-btn {
  background-color: #16697a;
}

#clearall-btn:hover {
  background-color: #1b7f93;
}
#clearall-btn:active {
  background-color: #16697a;
}

#content {
  background-color: #262d37;
  display: flex;
  height: 93vh;
}

select {
  height: 100%;
  background-color: #c23616;
  color: white;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

select:hover {
  background-color: #de3d19;
}

table {
  border-collapse: collapse;
  margin: 5px;
  /* uncomment for center align
 margin: auto;
 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  border: 1px solid rgb(220, 220, 220);
  padding: 0.1rem 0.5rem;
  cursor: pointer;
}

td:hover {
  background-color: var(--td-hover);
}

@media (max-width: 768px) {
  #toolbar {
    padding-bottom: 3rem;
  }
  button {
    color: var(--btn-default);
  }
  button:hover {
    color: var(--btn-default-hover);
  }

  #add-col-btn,
  #add-row-btn {
    color: var(--btn-add);
  }

  #remove-col-btn,
  #remove-row-btn {
    color: var(--btn-remove);
  }

  #add-col-btn:hover,
  #add-row-btn:hover {
    color: var(--btn-add-hover);
  }

  #remove-col-btn:hover,
  #remove-row-btn:hover {
    color: var(--btn-remove-hover);
  }
}
